<%- include('templates/header') %>
    <h1>Welcome, <%= email %>!</h1>
    <p>You have successfully logged in!</p>

    <a href="/createThread" class="btn">Create Thread</a>
    <br>
    <form action="/logout" method="GET">
        <button type="submit">Log Out</button>
    </form>
<%- include('templates/footer') %>
